.row {
  display: flex;
  flex-direction: column;
  width: auto;
  // border: $color-lightblue--light solid 0.1rem;
  // border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  margin: 1rem 1rem 0rem 0rem;
}

.nav__options {
  display: flex;
  flex-direction: row;
  color: red;
}