table {
  font-family: 'Nunito';
  font-size: 1.4rem;
  border-collapse: collapse;
  width: 100%;
  color: $color-lightblue--medium;

}

table td, table th {
  border: 0.1rem solid $color-grey--light-2;
  padding: 0.8rem;
}

// table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {
  background-color: lighten( $color-lightblue--light, 5% );
}

table th, tfoot td {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  background-color: $color-white;
  color: $color-lightblue--medium;
}


.table__header{
  background-color: $color-white;
  color: $color-lightblue--medium;
  font-size: 1.3rem;
  padding: 1.5rem 0rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.table__footer{
  background-color: $color-white;
  color: $color-lightblue--medium;
  padding: 0.6rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.table-container{
  padding: 0rem 1.5rem;
}