
.navlink {
  color: darken( $color-terciary, 15% );
  text-decoration: none;
  font-size: 1.4rem;
  padding: .5rem;

  &--border {
    border: solid 0.1rem;
    border-radius: 0.4rem;
    // background-color: red;
  }

  &:hover {
    color: $color-terciary;
    text-decoration: none;
  }

  &--white{
    color: darken( $color-white, 10% );

    &:hover {
      color: $color-white;
      text-decoration: none;
    }

    &--dark-bg{
      background-color: $color-primary;
      color: white;
    }
  }

  &--blue{
    color: darken( $color-primary, 10% );

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }

  &--active{
    color: $color-primary;
    background-color: white;

    &:hover {
      color: $color-terciary;
      text-decoration: none;
    }

    &--dark-bg {
      background-color: white;
    }
  }
}


.link--active {
  display:none;
}


// .navlink-box{
//   height: 2.6rem;
// }