
.layout--requests {
  height: 100vh;

  display: grid;
  grid-template-rows: auto minmax( min-content, 82vh ) 2fr;
  grid-template-columns: [nav-start] 12vw  [nav-end requests-start] 1fr [requests-end];
}