
$color-primary: #008dc9;
$color-secondary: #224abe;
$color-terciary: #4e73df;

$color-grey--light: #d1d3e2;
$color-grey--light-2: #ddd;
$color-grey--meidum: #5a5c69;
$color-grey--meidum-2: #6e707e;
$color-grey--dark: #222;
$color-lightblue--light: #e3e6f0;
$color-lightblue--light-2: #f8f9fc;
$color-lightblue--medium: #858796;
$color-lightblue--medium-2: #bac8f3;


$color-white: #fff;

$color-text-1: #3a3b45;
$color-button: #006d9b;

$color-error: red;