
.form {
  padding:  5rem 5rem 0rem 5rem;
  background-color: $color-white;
  border-radius: 2rem 2rem 0 0;
  font-size: 1.5rem;

  grid-row: 2 / 3;
  grid-column: center-start / center-end;
}


.form__row {
  margin: 1.6rem 1.6rem 1.6rem 1.6rem;

  label {
    padding: 1.5rem;
  }
}


.form__error {
  color: $color-error;
  display: inline-block;
  padding: 0rem 1.5rem;
}


.form--input {
  background-color: $color-white;
  padding: 1rem 1.8rem;
  border-radius: 10rem;
  border: .1rem solid $color-grey--light;

  &:focus {
    color: $color-grey--meidum-2;
    background-color: $color-white;
    border-color: $color-lightblue--medium-2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba( 78, 115, 223, 0.25 );
  }
}