
// TODO : Reordenar estas clases generales

.form {
  border: solid $color-grey--light .1rem;
  background-color: $color-white;
  border-radius: 1.5rem;
  font-size: 1.5rem;

  grid-row: 2 / 3;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;

  .logo-login {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-color: $color-primary;
    background-image:  linear-gradient( 180deg, $color-primary 10%, $color-secondary 100%);
    padding: 1.5rem;
  }

  .user-fields {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}


.form__row {
  margin: 0rem;
  display: grid;
  grid-template-columns: 2fr 4fr;

  label {
    padding: 1.5rem 0rem;
    font-weight: 600;
  }
  
}


.form__error {
  color: $color-error;
  display: inline-block;
  padding: 0rem 1.5rem;
}


.form--input {
  background-color: $color-white;
  padding: .5rem 1.8rem;
  border-radius: .5rem;
  border: .1rem solid $color-grey--light;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: $font-family-primary;

  &:focus {
    color: $color-grey--meidum-2;
    background-color: $color-white;
    border-color: $color-lightblue--medium-2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba( 78, 115, 223, 0.25 );
  }
}


.form--register {

  // padding: 1.5rem;

  .form__row{
    width: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }

  .btn {
    margin: 1.5rem 0rem;
    width: 100%;
    font-weight: 700;
  }
}

@media ( max-width: 700px ) {
  .form {
    border: none;
    grid-column: 1 / -1;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    border-radius: 0rem;
    
    .logo-login {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      border-radius: 0rem;
    }
  }
}